---
---

/****************
 *   Variables  *
 ****************/

 $bg-color: #2D5566;
 $white: #FFF;

/****************
 *    Mixins    *
 ****************/

@mixin fadein() {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@mixin fadeout() {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fade-in { @include fadein(); }
@-moz-keyframes fade-in    { @include fadein(); }
@-ms-keyframes fade-in     { @include fadein(); }
@-o-keyframes fade-in      { @include fadein(); }
@keyframes fade-in         { @include fadein(); }

@-webkit-keyframes fade-out { @include fadeout(); }
@-moz-keyframes fade-out    { @include fadeout(); }
@-ms-keyframes fade-out     { @include fadeout(); }
@-o-keyframes fade-out      { @include fadeout(); }
@keyframes fade-out         { @include fadeout(); }

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin backface-visibility($backface-visibility) {
  -webkit-backface-visibility: $backface-visibility;
  -moz-backface-visibility: $backface-visibility;
  -ms-backface-visibility: $backface-visibility;
  -o-backface-visibility: $backface-visibility;
  backface-visibility: $backface-visibility;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

/****************
 *    Styles    *
 ****************/

body.homepage {
  #page-wrapper .wrapper.style1 {
    margin-bottom: 0;
  }
}

body.homepage,
body:not(.homepage) {
  #header::after {
    content: '';
    background: $bg-color;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);
  }

  &.is-loading {
    #header::after {
      opacity: 1;
    }
  }
}

#header {
  // background-image: url('/images/header.jpg');
  padding-top: calc(21px + 3em);

  h1 small {
    display: block;
    font-size: 0.4em;
    font-weight: 400;
  }

  .inner {
    opacity: 1;
  }
}

#nav > ul > li {
  outline: 0;
  border: none;
}

#footer {
  span#email {
    // TODO slide out/unscroll
    display: inline-block;
    padding-top: 0.5em;
    margin-right: -7px;
    text-align: center;
    vertical-align: top;
  }
}

/****************
 *      CV      *
 ****************/

#cv {
  // height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;

  a {
    height: 1em;
  }

  .pdf {
    width: 100vw;
    height: calc(100vw * 11 / 8.5);
    margin: 2em auto;
  }
}


/****************
 * Publications *
 ****************/

.publications {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
  width: 100%;

  article {
    /* TODO flex column for insides */
    display: inline-block;
    width: 18em;
    background: #fff;
    text-align: center;
    padding: 1em 1em 3em 1em;
    margin: 0 2em 2em 0;
    white-space: normal;
    opacity: 1.0;
    @include transition(opacity 0.75s ease-in-out);

    h3 {
      height: 77px;
    }

    p {
      text-align: center;
    }

    .image {
      margin-bottom: 3em;

      img {
        height: 10em;
        width: auto;
        margin: auto;

        &.no-image {
          visibility: hidden;

          &::after {
            content: 'No Image Provided';
            display: block;
            height: 10em;
            line-height: 1em;
            text-align: center;
            width: 100%;
            visibility: visible;
            padding-top: 50%;
            @include transform(translateY(-50%));
          }
        }
      }
    }
  }
}


/****************
 *   Calendar   *
 ****************/

.calendar.iframe {
  background: $white;
  height: 600px;
  width: 100%;
  padding: 20px;
}

/****************
 *  Max-Widths  *
 ****************/

@media screen and (max-width: 1680px) {
  .publications {
    padding: 1.5em 0 1.5em 0;

    article {
      width: 18em;
      margin: 0 1.25em 1.25em 0;
    }
  }
}

@media screen and (max-width: 840px) {
  #header {
    font-size: 16px;
  }

  .publications  {
    padding: 1.25em 0 1.25em 0;

    article {
      width: 18em;
      margin: 0 1em 1em 0;
    }
  }
}

@media screen and (max-width: 736px) {

  body:not(.homepage) #header .inner {
    padding-top: 0;
    padding-bottom: 1.5em;
  }

  .publications {
    padding: 0.5em 0 0.5em 0;

    article {
      width: calc(50% - 1em);
      padding-bottom: 2em;
      margin: 0 0.5em 0.5em 0;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .image {
        margin-bottom: 2em;

        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 528px) {
  body {
    &.homepage {
      #header .inner {
        padding-top: calc((125px - 3em) / 2);
      }

      p {
        text-align: left;
      }
    }

    &:not(.homepage) {
      #header .inner {
        padding-top: 1.5em;
      }
    }

    &.homepage, &:not(.homepage) {
      #header {
        height: 125px;
        padding: 0;
      }
    }
  }

  #header {
    @include transition(height 0.25s);
  }

  /**************** Mobile Nav
   *
   * Original icon animations from
   * https://codepen.io/designcouch/pen/Atyop
   */

  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    height: 17px;
    width: 17px;
    border-bottom: 0;
    z-index: 1000;
    @include transform(rotate(0deg));
    @include transition(rotate .5s ease-in-out);
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      border-radius: 25%;
      opacity: 1;
      left: 0;
      @include transform(rotate(0deg));
      @include transition(.25s ease-in-out);

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 7px;
      }

      &:nth-child(4) {
        top: 14px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 7px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          @include transform(rotate(45deg));
        }

        &:nth-child(3) {
          @include transform(rotate(-45deg));
        }

        &:nth-child(4) {
          top: 7px;
          width: 0%;
          left: 50%;
        }
      }

      & ~ #nav {
        display: block;

        li {
          @include animation(fade-in 0.5s);
        }
      }

      & ~ .inner {
        opacity: 0;
        @include animation(fade-out 0.1s)
      }
    }

    &:not(.open) {
      & ~ #nav li {
        @include animation(fade-out 0.1s);
      }

      & ~ .inner {
        opacity: 1;
        @include transition(opacity 0.5s ease-in-out);
      }
    }
  }

  #nav {
    height: 100%;
    padding: 0;

    & > ul {
      width: 100%;
      height: 100%;

      & > li {
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
        line-height: 1em;
        padding: 0;
        background: rgba($bg-color, 0.15);
        margin-bottom: 1px;
        height: calc(123px * (1 / 3));

        a {
          display: inline-block;
          padding: 12px 0;
          height: 100%;
          width: 100%;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover, &:active {
          background: transparent;
        }
      }
    }
  }

  .publications article {
    margin-right: 0;
    width: 100%;

    header {
      margin-top: 1em;
      margin-bottom: 0;
    }

    .image {
      display: none;

      img.no-image {
        height: auto;
        margin-top: -5em;
        margin-bottom: -5em;
      }
    }
  }
}

/****************
 *  Min-Widths  *
 ****************/

@media screen and (min-width: 529px) {
  body.homepage #header {
    height: 30vh;
    min-height: 15em;
  }

  #nav {
    display: block;

    & > ul > li {
      padding-left: 0.1em;
      padding-right: 0.1em;
      margin-left: .75em;
      margin-right: .75em;
    }

    li {
      position: relative;
      @include backface-visibility(hidden);

      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        bottom: -2px;
        left: 50%;

        $ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
        background: rgba($white, 0.5);
        @include backface-visibility(hidden);
        @include transform(translateX(-50%));
        @include transition(0.35s all $ease-in-out-quart);
      }

      &:hover, &:active, &.active {
        &::after {
          width: 100%;
        }
      }

      &.active::after {
        background: rgba($white, 0.75);
      }
    }
  }

  #cv .pdf {
    height: 100vw; /* 4em #cv padding + 4em .pdf margin + 1em a height */
    width: calc(100vw * 8.5 / 11);
  }
}

@media screen and (min-width: 737px) {
  body.homepage #header {
    height: 10vh;
    /* min-height: 20em; */
  }
}

@media screen {
    .container {
        width: 40em;
    }
}
