<!-- Header -->
<div id="header" style="background-image: url({{ '/images/header.jpg' | prepend: site.baseurl }})">

  <!-- Mobile Nav -->
  <a id="mobile-nav" class="toggle">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>

  <!-- Inner -->
  <div class="inner">
    <header>
      <h1>
        <a href="/" id="logo">
          {% if page.title %}
            <small>Antonio Linero</small>
            {{ page.title }}
          {% else %}
            Antonio Linero
          {% endif %}
        </a>
      </h1>
    </header>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ '/' | prepend: site.baseurl }}">About</a></li>
      <li {% if page.url == "/publications/" %}class="active"{% endif %}><a href="{{ '/publications/' | prepend: site.baseurl }}">Publications</a></li>
      <li {% if page.url == "/cv/" %}class="active"{% endif %}><a href="{{ '/cv/' | prepend: site.baseurl }}">CV</a></li>
      <li {% if page.url == "/calendar/" %}class="active"{% endif %}><a href="{{ '/calendar/' | prepend: site.baseurl }}">Calendar</a></li>
    </ul>
  </nav>

</div>

